{% extends 'base.html' %}

{% block content %}


  <div>
    <div style="text-align:center; margin:4rem auto;">
      <p>
      {{ tUser.date_joined }}
      </p>
    <h2 style="margin-bottom:3rem;">
      {{ tUser.username }}
    </h2>

      {% if tUser == user %}
        <a href="{% url 'accounts:update' pk=user.pk %}">
          <p>
            ChangeInfo
          </p>
        </a>
      <a href="{% url 'accounts:delete' pk=user.pk %}">
          <p>
            Quit
          </p>
        </a>
      {% endif %}
      <div>
  </div>

{% endblock %}

