.mymine_footer_logo{

font-family: 'Poppins', sans-serif;
}

.mymine_header_logo{

font-family: 'Poppins', sans-serif;
}

.mymine_header_div{
text-align:center; font-size:1.3rem; margin:3rem 0;
}
.mymine_footer_div{
text-align:center; font-size:1.3rem;  margin-top:2rem;

}