<body style="background: #fff; background: -webkit-linear-gradient(to right, #ffc107, #fff); background: linear-gradient(to right, #ffc107, #fff);">
<div class="mymine_header_div">
    <div class="mymine_header_logo">
    <h1><a class="navbar-title " href="{% url 'accounts:home' %}">MyMine Diary</a></h1>
    </div>
    <div>&emsp;
        <a href="{% url 'posts:index' %}?next={{ request.path }}">
        <span>diary</span>&emsp;
        </a>
        <!-- 로그인이 되어있지 않을 때 'login.html'을 보여준다 -->
        {% if not user.is_authenticated %}
        <!-- 현재 페이지 어디 있든 간에 get 방식을 이용해서,
        next라는 인자를 넘겨줌으로서 원래 있던 자리로 되돌아 올수 있도록 한다.-->
        <a href="{% url 'accounts:create' %}?next={{ request.path }}">
        <span>signUp</span>&emsp;&emsp;
        </a>
        <a href="{% url 'accounts:login' %}?next={{ request.path }}">
            <span>login</span>&emsp;&emsp;

        </a>
        {% else %}
        <a href="{% url 'accounts:detail' pk=user.pk %}">
            <span>MyDetail</span>&emsp;
        </a>
        <a href="{% url 'accounts:logout' %}?next={{ request.path }}">
            <span>logout</span>
        </a>

        {% endif %}

    </div>



    </div>
</body>