
<body style="background: #fff; background: -webkit-linear-gradient(to right, #ffc107, #fff); background: linear-gradient(to right, #ffc107, #fff);">
<div class="mymine_header_div">
    <div class="mymine_header_logo">
    <h1><a class="navbar-title" href="{% url 'accounts:home' %}">MyMine Diary</a></h1>
    </div>
    <div>&emsp;

        <!-- 로그인이 되어있지 않을 때 'login.html'을 보여준다 -->
        {% if not user.is_authenticated %}
        <a href="{% url 'accounts:create' %}">
        <span>signUp</span>&emsp;&emsp;
        </a>
        <a href="{% url 'accounts:login' %}">
            <span>login</span>&emsp;&emsp;

        </a>
        {% else %}
        <a href="{% url 'posts:index' %}">
            <span>diary</span>&emsp;
        </a>
        <a href="{% url 'accounts:detail' pk=user.pk %}">
            <span>MyDetail</span>&emsp;
        </a>
        <a href="{% url 'accounts:logout' %}">
            <span>logout</span>
        </a>
        <p style="text-align:right; font-weight:bold">{{ user.username }} 님이 접속하셨습니다.</p>

        {% endif %}

    </div>



    </div>
</body>