{% extends 'base.html' %}

{% block content %}


  <div>
    <div style="text-align:center; margin:2rem auto;">

        <h2>
            {{ tPost.post_title }}
        </h2>
        <h5>
            {{ tPost.writer }}
        </h5>
        <hr>
        <div style="margin: 2rem auto">
            <img src="{{ tPost.post_image.url }}" alt="">
        </div>
            <div>
        <p>
            {{tPost.post_content | safe}}
        </p>
        </div>
        <hr>
    {% if tPost.writer == user %}
        <a href = "{% url 'posts:update' pk=tPost.pk %}" class="btn btn-success rounded-pill col-1 mb-3 mt-3">
            <p>Update Post</p>
        </a>

        <a href = "{% url 'posts:delete' pk=tPost.pk %}" class="btn btn-danger rounded-pill col-1 mb-3 mt-3">
            <p>Delete Post</p>
        </a>
    {% endif %}
      <div>
  </div>

{% endblock %}